:root {
  --primary-color: #424549;
  --text-color: aliceblue;
}

.App {
  text-align: center;
}

.Main {
 height: 35vh !important;
 width: 100vw !important;
}

body {
  background-color: black;
  color: var(--text-color);

}

button {
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 15px;
    margin-top: 15px;
    padding: 1em;
    width: 110px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    border-radius: .5em;
    font-size: 12px;
    line-height: 1;
    transition: opacity .5s;
}

/* Modal */
.modal {
  border-radius: 5px;
  text-align: center;
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top:77%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color:var(--primary-color);
  z-index: 1;
}

.modal-body {
  overflow-y: auto;
  height: 35vh;
  padding: 15px;
}
